# Requirements for core
beautifulsoup4
cairosvg==1.0.22
elasticsearch
feedparser
flask
Flask-Babel
fuzzywuzzy
isbnlib
loggly-python-handler
lxml
mock
money
nameparser
nose
pillow
psycopg2
py-bcrypt
python-dateutil
requests
rdflib
sqlalchemy>=1.0.6
tinys3==0.1.11
textblob
uwsgi

# Ensure that we support SNI-based SSL
ndg-httpsclient

# Used only by content
pymarc
pyyaml
